# Importing data from SQL Server to data frame...

In [3]:
# Importing Lib..

import pandas as pd
import numpy as np

import pyodbc

from datetime import datetime
import time

In [4]:
# Making the connection..

sql_conn = pyodbc.connect("Driver={SQL Server Native Client 11.0};" 
                     "Server=DERUSVMUMUISQ03.eyua.net\INST1;" 
                     "Database=UiPath;" 
                     "Trusted_Connection=yes;")

In [6]:
# Query to execute & creating a dataframe..

query = "Select * from UiPath.dbo.Jobs"
df_Job = pd.read_sql(query, sql_conn)

df_filter = df_Job[['StartTime','EndTime','RobotId']]
df_filter.head(10)

                StartTime                 EndTime  RobotId
0 2019-04-05 14:29:20.210 2019-04-05 14:30:33.730        1
1 2019-04-05 14:33:58.853 2019-04-05 14:34:49.673        1
2 2019-04-09 22:19:10.027 2019-04-09 22:22:31.777        1
3 2019-04-10 14:18:36.383 2019-04-10 14:20:39.760       19
4 2019-04-10 14:31:36.580 2019-04-10 14:57:40.010       19
5 2019-04-10 15:05:37.927 2019-04-10 15:41:18.917       19
6 2019-04-10 16:05:18.040 2019-04-10 16:22:39.677       19
7 2019-04-10 17:19:36.597 2019-04-10 17:30:23.363       19
8 2019-04-10 17:36:25.797 2019-04-10 17:44:33.270       19
9 2019-04-10 17:46:36.673 2019-04-10 17:47:32.997        2